@media screen and (max-width: 768px) {
  body {
    background: #e5e5e5;
    padding: 0;
    margin: 0;
  }

  .headline {
    background-image: url(icons/header-shapes\ mobile.png);
    background-size: cover;
    background-position: center;
  }

  .main {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    border-radius: 0 0 0 15%;
  }

  nav {
    padding-right: 32px;
  }

  header {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .myLogo {
    color: #6070ff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 32px;
  }

  .heading {
    color: #172b4d;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-left: 32px;
  }

  main {
    color: #344563;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    padding-right: 34px;
  }

  .connect {
    color: #7f8cff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 34px;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    list-style-type: none;
  }
}
